body.app {
	padding-top: 60px;
	font-family: "Open Sans", helvetica, arial, sans-serif, monospace;
}
.app {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

/* ---------- */
/* App header */
/* ---------- */
.sdg-logo > img {
	max-width: 50px;
	max-height: 50px;
	margin-top: -15px;
	margin-bottom: -15px;
}
.navbar-inverse .navbar-nav .navbar-item a {
	color: #9d9d9d;
}
.navbar-inverse .navbar-nav .navbar-item a:hover,
.navbar-inverse .navbar-nav .navbar-item a:focus {
	color: #fff;
	background-color: #080808;
}
ul.navbar-nav li.navbar-top-link a {
	color: #f2a711;
}

/* -------- */
/* App body */
/* -------- */
.app-content {
	flex: 1;
}
.control-form {
    margin-bottom: 10px;
}
.zend-form .control-form ul li {
	font-size: smaller;
	color: #fb6f08;
}
.user-info {
	margin-top: 20px;
}
.user-info .table-responsive .table {
	margin-bottom: 0px;
}
.title-alias {
	margin: 10px 0px;
}
.title-alias-divider {
	margin-top: 10px;
	border: 1px solid #ccc;
}

/* List */
.list-group > a.list-group-item:hover,
.list-group > a.list-group-item:focus {
	color: #fff;
	background-color: #337ab7;
	border-color: #337ab7
}

/* ---------- */
/* App footer */
/* ---------- */
.app-footer {
	padding-top: 2em;
	padding-bottom: 1em;
	background-color: #084b6b;
	color: #e6e0d6;
}
ul.navbar-nav li.navbar-footer a {
	padding-left: 0px;
	padding-top: 0px;
	color: inherit;
}
ul.navbar-nav li.navbar-footer a:hover {
	color: #fff;
	background-color: transparent;
}